body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  width: 50vh;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  width: calc(50vh /3);
  height: calc(50vh /3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  border: 1px solid black;
}